@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root{
  --color-primary: #f51a9a;
  --color-danger: #ff7782;
  --color-sucess: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f9f6f8;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem; 
  --border-radius-3: 1.2rem; 

  --card-padding: 1.8 rem;
  --padding-1: 1.2 rem;

  --box-shadow: 0 2 rem 3 rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f51a9a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #f51a9a;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #f51a9a;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/*.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}*/

/*.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}*/
body {
    background:var(--color-background);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    width: 100vw;
    height:100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden; 
    color:var(--color-dark);    
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

img {
    display: block;
    width: 100%;
}

a {
    color: var(--color-dark);
}

h1 { 
    font-weight: 800;
    font-size: 1.8rem;
}

h2 { 
    font-size: 1.4rem;
}

h3 { 
    font-size: 0.87rem;
}

h4 { 
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.warning{
    color:var(--color-warning);
}

aside{
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    background:  var(--color-light);
    color:var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before{
    background:  var(--color-primary);
    content: "";
    width: 6px;
    height: 100%;
}

aside .sidebar a.active span{
    color:  var(--color-primary);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover{
    color:  var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{ 
    background: transparent;
    color:var(--color-dark);
}

main .insights{
    display: grid;
    gap:1.8rem;
    grid-template-columns: repeat(3, 1fr);
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span{
    background: var(--color-danger);
}

main .insights > div.income span{
    background: var(--color-sucess);
}

main .insights > div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill: none;
    stroke:var(--color-primary) ;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
    stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .insights .expenses svg circle{
    stroke-dasharray: 150;
    stroke-dashoffset: -40;
}

main .insights .income svg circle{
    stroke-dasharray: 110;
    stroke-dashoffset: -35;
}

main .insights .progress .number{
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main .insights small{
    margin-top: 1.3rem;
    display: block;
}

main .recents-orders h2{
    margin-top: 0.8rem;
}

main .recents-orders table{
   background: var(--color-white);
   width: 100%;
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   text-align: center;
   box-shadow: var(--box-shadow);
   transition: all 300ms ease;
}

main .recents-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant)
}

main table tbody tr:last-child td{
    border: none;
}

main .recents-orders a{
    text-align: center;
    display: block ;
    margin: 1rem auto;
    color: var(--color-primary);
}

thead{
    margin-top: 2rem ;
}

.cadastro h3{
    text-align: left;
    margin-top: 1rem;
}

.cadastro input{
    border-radius: 10%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 12px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 12px;
    
}

.cadastro button {
    text-align: center;
    border-radius: 10%;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: var(--color-primary);
    width: 20%;
    border: 0;
    padding: 15px;
    color: var(--color-white);
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
